body
{
    font-family: 'Maven Pro', sans-serif;
}
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #00a087;
}